@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
    --border-radius:5px;
    --nav-bar-height: 70px;
    --font-size: 32px;

    --background_color: white;
    --text_color: black;
    --text_hover_color: rgb(0,100,200);
    --body_background_color: white;

    --primary-color: #57e089;
}

[data-theme="dark"] {
    --background_color: #121212;
    --text_color: white;
    --text_hover_color: rgb(0,100,200);
    --body_background_color: black;

    --primary-color: #57e089;

}

* {
    -webkit-tap-highlight-color: transparent;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--body_background_color);
}

html {
    scroll-behavior:smooth;
}

h1, h2, h3 {
    color: var(--text_color);
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
a,li,p,label {
    color: var(--text_color);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    list-style: none;
    text-decoration: none;
    transition: all .1s ease;
    font-size: var(--font-size);
}

nav {
    display: flex;
    margin: 0px 0px;
    /* position: absolute; */
    height: max-content;
    width: 100%;
    max-height: var(--nav-bar-height);
    background-color: transparent;
    padding: 15px 0px;
    justify-content: space-around
}

nav .nav_links {
    /* position: absolute; */
    /* right:0px; */
    display:flex;
    margin-right: 0px;
    float:right;
    flex-direction: row;
}

nav li {
    margin: 20px 50px;
    width: max-content;
}

nav a {
    font-size: var(--font-size);
    font-weight: 300;
    padding: 5px;
    border-radius: var(--border-radius); 
}
nav li a, nav a, nav label {
    font-size: var(--font-size);
}
nav a:hover, nav a:active {
    color:var(--primary-color);
}

.content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: calc(var(--nav-bar-height) + 50px);
}
.content div {
    margin: 15px;
    float: left;
    max-width: 500px;
}
.content #intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
 .content h2 {
    font-size: xx-large;
}
.content p {
    font-size: calc(var(--font-size) - 2px) ;
}
footer {
    background-color: var(--background_color);
    position:absolute;
    bottom: 5px;left:0px;right:0px;
    padding: 15px;
}

@media screen and (max-width:1024px) {
    nav {
        padding: 0px 0px;
        bottom:0px;
        background-color: var(--background_color);
        position:fixed;
    }
    
    nav li {
        margin: 10px 25px;
    }
    nav li a, nav a, nav label {
        font-size: var(--font-size);
    }
    .content {
        margin-top:10px;
        margin-bottom:var(--nav-bar-height);
    }
    .content div {
        margin: 15px;
        float: left;
        max-width: none;
    }

    footer {
        bottom: var(--nav-bar-height);
    }
}
@media screen and (max-width:720px) {
    nav li a, nav a, nav label {
        font-size: calc(var(--font-size) - 3px);
    }
}

@media screen and (max-width:480px) {
    nav li {
        margin: 5px 15px;
    }
}
